<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="Index.aspx" />
    </authentication>
    <!--authorization>
      <deny users="?"/><pages controlRenderingCompatibilityVersion="4.0"/>
      <httpHandlers>
      <add verb="*" path="ueditor.ashx"
           type="Gboxt.Common.WebUI.UEditor.UEditorHandler, Gboxt.Common.ModelBase, Version=1.0.0.0, Culture=neutral" />
    </httpHandlers>
    </-authorization-->

    <httpRuntime requestValidationMode="2.0" maxRequestLength="104857600" executionTimeout="3600" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
    
  </system.web>

  <runtime>
  </runtime>
</configuration>